# LLM e pipeline
transformers
torch
torchvision
torchaudio

# DeepSeek
accelerate # consigliato da deepseek
safetensors

# PDF reading
PyPDF2

# LangChain stack (versioni aggiornate e non deprecate)
langchain
langchain-community
sentence-transformers
sentencepiece # compatibile con Py 3.12

# Vector store
faiss-cpu

# Embeddings
huggingface-hub

# Streamlit frontend
streamlit

# Utils
pandas
numpy
scipy
